.left-btn {
  border: 1px;
  border-radius: 20px, 20px, 0px, 0px;
}
.nav-btn {
  border: 1px solid black;
  border-radius: 40px;
}
.btn-color {
  background-color: #000000;
  color: #ffffff;
}
.background-white {
  background-color: #ffffff;
}

.color-red {
  color: #d51313;
}

.bg-gray {
  background-color: gray;
  color: #ffffff;
}
